.components-cuisinecard {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 250px;
    height: 333px;
    box-shadow: 1px 4px 6px 0px rgba(0,0,0,0.5);
    border-radius: 60px;
    margin: 20px;
    transition: 0.3s ease;
}

.components-cuisinecard img {
    width: auto;
    height: 142px;
}

.components-cuisinecard p {
    font-size: 2em;
    width: 100%;
    font-family: 'futura';
}

.components-cuisinecard:hover {
    box-shadow: none;
    background-color: #E0BE2F;
}

@media only screen and (max-width: 900px) {
    .components-cuisinecard {
      width: 80%;
    }
  }